<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMTestAutomationFramworkSuite" thread-count="5" parallel="methods" verbose="5">
	<listeners>
		<listener
			class-name="com.dev.orange.hrm.listeners.ExtentReportListeners" />
	</listeners>
	<test name="Orange HRM Test Automation Edge">
		<classes>
			<class name="com.orange.hrm.qa.pagesTest.PIMPageTest" />
		</classes>
	</test>
	<test name="Orange HRM Test Automation Chrome">
		<classes>
			<class name="com.orange.hrm.qa.pagesTest.EmployeePageTest" />
		</classes>
	</test>
</suite> <!--
Suite -->


